


body {background-image: url(images/bg.jpg); background-color: grey;  margin:auto; max-width:1100px; padding:20px; font-size:1.2em;}
h1 {color: white; font-family:Arial, sans-serif;text-align:center}
h2 {color: white; font-family:Arial, sans-serif;text-align:center}
h3  {color: white; font-family:Arial, sans-serif;text-align:center}
ul  {color: white; font-family:Arial, sans-serif;text-align:center}
p {color: white; font-family:Tahoma, Geneva;text-align:center}
img {max-width:100%; height:auto;text-align:center}
header {color: white;font-family:Arial, sans-serif;text-align:center}
img {max-width:100%; height:auto;}
section {text-align:center}
figure {display:inline-block; width:240px; text-align:center; margin:5px;}

nav {width:100%; text-align:center}
nav a {display:block; width:30%;
text-decoration:none;}
display:block = top to bottom */
nav li {list-style:none}
nav li a {border:2px #AAA solid; padding:6px}
@media only screen and (min-width:640px){
nav a {display:inline}
/* display:inline = left to right */
nav li {display:inline; padding:0 18px}
 /* Close 640 Media Query for larger screens */
