nav {width:100%; text-align:center}
nav a {display:block; width:30%;
text-decoration:none;}
/* display:block = top to bottom */
nav li {list-style:none}
nav li a {border:2px #AAA solid; padding:6px}
@media only screen and (min-width:640px){
nav a {display:inline}
/* display:inline = left to right */
nav li {display:inline; padding:0 18px}
} /* Close 640 Media Query for larger screens */


body {background-color: grey;
  width:800px; margin:auto;max-width:1100px; margin:auto; padding:20px}
h1 {color: white; font-family:Arial, sans-serif}
h2 {color: white; font-family:Arial, sans-serif}
h3  {color: white; font-family:Arial, sans-serif}
ul  {color: white; font-family:Arial, sans-serif}
p {color: white; font-family:Tahoma, Geneva}
img {max-width:100%; height:auto}
header {color: white;font-family:Arial, sans-serif}
body } /* the max is important */
img {max-width:100%; height:auto;}
section {text-align:center}
figure {display:inline-block; width:240px; text-align:center; margin:5px;}
