body {background-color: black;
  width:800px; margin:auto;}

    .text-wrap {
        white-space: normal;
        width: 800px;
        border: 5px white;
    }

/* Width/Margin to center page on screen */
 h1 {color: white; font-family:Arial, sans-serif}
 h2 {color: white; font-family:Arial, sans-serif}
 p {color: white; font-family:Tahoma, Geneva}
/* if Tahoma font not found, use Geneva */
 img {max-width:100%; height:auto}
 header {color: white;font-family:Arial, sans-serif}
#wrapper {border: 1px #808080 solid}
#social {background-color: #808080}
.important {background-color:#c00}
.highlight {background-color:#808080}
