body {background-color: grey;
  width:800px; margin:auto;body style="background-image:url(images/bg.jpg);}
h1 {color: white; font-family:Arial, sans-serif}
h2 {color: white; font-family:Arial, sans-serif}
h3  {color: white; font-family:Arial, sans-serif}
ul  {color: white; font-family:Arial, sans-serif}
p {color: white; font-family:Tahoma, Geneva}
img {max-width:100%; height:auto}
header {color: white;font-family:Arial, sans-serif}
